.activityPage-body{
    width:100%;
    margin:0px;
    padding:0px;
  }
  .ActivityBanner{
    margin:0px;
    padding:0px;
    width:100%;
    height: 100vh;
    object-fit: cover;
    object-position: 0% 0%;
    background-image: linear-gradient(rgba(63, 131, 131, 0.401), rgb(255, 255, 255)) ,url("image/exampleBanner.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    text-align: center;
    font-size: 40px;
  }
  .activity-explanation{
    font-size: 24px;
    padding-left: 100px;
    padding-right:100px;
  }

  .p-teamInfo{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    
  }