* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bodynavbar {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}
.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headersnavbar {
  color: #34495e;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.logo {
  margin: 0;
  font-size: 1.45em;
  color: #34495e;
}

.main-nav {
  margin-top: 5px;
}
.logo p,
.main-nav p {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav p {
  color: #34495e;
  font-size: 0.99em;
}

.main-nav p:hover {
  color: #718daa;
}

.headernavbar {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media (min-width: 769px) {
  .headernavbar,
  .main-nav {
    display: flex;
  }
  .headernavbar {
    flex-direction: column;
    align-items: center;
    .header {
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
    }
  }
}

@media (min-width: 1025px) {
  .headernavbar {
    flex-direction: row;
    justify-content: space-between;
  }
}
